providers = ["node"]

[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "python311Packages.setuptools"]

[phases.install]
cmds = [
  "pip3 install --break-system-packages -r requirements.txt"
]

[phases.build]
cmds = [
  "npm install",
  "npm run build"
]

[start]
cmd = "npm start"

