providers = ["python"]

[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "python3 -m pip install --break-system-packages -r requirements.txt"
]

[phases.build]
cmds = [
  "npm install",
  "npm run build"
]

[start]
cmd = "npm start"

