providers = ["node", "python"]

[phases.setup]
nixPkgs = ["python311", "python311Packages.opencv4", "python311Packages.numpy", "nodejs-20_x"]

[phases.build]
cmds = [
  "npm install",
  "npm run build"
]

[start]
cmd = "npm start"

