providers = ["node"]

[phases.setup]
nixPkgs = ["python311", "python311Packages.pip", "python311Packages.setuptools"]

[phases.install]
cmds = [
  "pip3 install --break-system-packages -r requirements.txt"
]

[phases.build]
cmds = [
  "export PATH=\"/app/node_modules/.bin:$PATH\" && npm install && npm run build"
]

[variables]
PATH = "/root/.nix-profile/bin:$PATH"

[start]
cmd = "npm start"

